<div class="row">
    <% @corgis.each do |corgi| %>
      <div class="co-12 col-sm-6 col-md-4">
        <%= link_to corgi_path(corgi), class: "text-decoration-none" do %>
        <%= corgi.name %>
        <%= corgi.photo %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>



    <div class="learn-more">
	  <div class="container">
	  <div class="row">
