<div class="row">
    <% @corgis.each do |corgi| %>
      <div class="co-12 col-sm-6 col-md-4">
        <%= link_to corgi_path(corgi), class: "text-decoration-none" do %>
        <%= corgi.name %>
        <%= corgi.photo %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>



    <div class="learn-more">
	  <div class="container">
	  <div class="row">

      <div>
      <h3>would you like to share your corgi?</h3>
      <p><%= link_to 'click here to add your corgi', new_corgi_path, class: "btn btn-ghost"%></p>
      </div>
		  <div>
		  <div class="col-md-4">
	    <div>
			<h4>Terms and Conditions</h4>
			<p> you can do a lot with cogis, you can also travel with them</p>
			<p><a href="#">Learn more</a></p>
	      </div>
	      </div>
		  <div class="col-md-4">
		  <div>
			<h4>Trust and Safety</h4>
			<p>all our corgis have been tested and vaccinated, which will prevent our guestes from being exposed to dangerous diseases</p>
			<p ><a href="#">Learn about trust at corgibnb </a></p>
		  </div>
		  </div>
		  </div>
	    </div>
	  </div>
	</div>
