<div class="container py-5">
  <div class="cards">
    <div class="card-category">
      <div class="index-card-title">
        <%= simple_form_for [@corgi, @booking] do |f| %>
          <%= f.input :booking_date %>
          <%= f.submit class: 'btn btn-flat' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%# <%= link_to 'back', redirect_back, class: "btn btn-ghost"%>
